@CHARSET "UTF-8";





.title{
	font-size:30px;
	text-align:center;
	margin-top:30px;
}
.create_user_table{
	margin:0 auto;
}


.button_base{
float:left;
margin-left:80px;
}

.clear{
clear:both;
}

.whitesubmitbox{
	width:100%;
	height:70px;
}
