@CHARSET "UTF-8";



/* ----box内中央寄せ---- */
.formbox{
	text-align : center;
}

/* ----table中央寄せ---- */
.table-form{
	margin : 0 auto;
}

/* ----エラーメッセージ色・サイズ---- */
.error-form{
	color : red;
	font-size : 15px;
}

/* ----チェックボックスカーソル変更---- */
.label, #checkbox{
	cursor : pointer;
}

/* ----リンク先幅空け---- */
.text-link{
	margin-top : 20px;
}


.submit_btn_box{
	margin-left:180px;
}



