@CHARSET "UTF-8";




#header{
	z-index:2;
}

#box-wide{
font-size:15px;
}

h1{
text-align:center;
font-size:30px;
}

#product-list{

	 height:auto;

}


#product-list ul li {
	display : block;
	float : left;
	width : 85%;
	height : 100%;
	list-style-type : none;
	text-align : center;

}




/* 商品リスト表示 横並び */
.product-list-box {
	display:inline-block;
	float : left;
	width:33.3%;
	height: 300px;
	text-align:center;

}


/* ページング番号 */
.pager{
	padding-top : 50px;
	text-align : center;
	font-size : 18px;
	clear : both;
}


.item-image-box-200 {
	width : 200px;
	height : 150px;


}

.item-image-box-200:hover {
	transform: scale(1.05);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
     z-index:1; /* hover時にheaderと重なるのを防ぐ*/

}

#clear{
clear:both;
}


