@CHARSET "UTF-8";


table.vertical-list-table{
	margin:auto;
}
table.vertical-list-table th{
	text-align:left;
}
.error{
	color:red;
}
h1{
	text-align:center;
}
.submit_btn{
	text-align:center;
}
.submit{
	padding-top:10px;
}
.formbox{
	text-align:center;
}

.button_base{
margin-left:210px;
}

