@CHARSET "UTF-8";


h1{
	text-align:center;
}
table{
	margin:auto;
}
th{
	text-align:left;
}
.confirm{
	text-align:center;
}

.submit_btn_box{
			text-align : center;
			float:left;
			margin-left:60px;
			margin-top:20px;
}
.clear{
		clear:both;
}
#box_narrow {
			text-align: center;
		}
