@charset "UTF-8";
@font-face {
   font-family: DQFont;
   src: url('../font/PixelMplus10-Regular.ttf') format("truetype");
}
body, html{
	margin : 0;
	padding : 0;
	width : 100%;
	height : 100%;
	min-width : 1600px;
}

/* -------- header.jsp -------- */
#header{
	position : absolute;
	top : 0px;
	left : 0px;
	float : left;
	width : 100%;
	height : 60px;
	padding-top : 10px;
	padding-bottom : 10px;
	background-color : black;
	z-index : 10;
	font-family : DQFont;
	min-width : 1600px;
}


#header-title{
	float : left;
	width : 130px;
	height : 100px;
	margin-top : -18px;
	margin-left : 35px;
}

#header-menu{
	float : left;
	width : 80%;
	margin-left : 100px;
}

#header-menu ul{
	float : left;
	margin-top : 20px;
	margin-left : 20px;
	width : 100%;
	min-width : 900px;
}

#header-menu ul li{
	float : left;
	list-style : none;
	padding-left : 5%;
	color : white;
	font-size : 12px;
}

.txt-keywords{
	height : 24px;
	margin-top : 1px;
	border-radius : 20px;
}

#categoryId{
	height : 30px;
	border-radius : 20px;
}

.submit-btn-search{
	border : 0px;
	width : 30px;
	height : 30px;
	margin-top : -1px;
	background-color : black;
	text-indent: -9999px;
	background : url("../images/ecalbt008_002_edit.jpg") left top no-repeat;
}
.submit-btn-search:hover{
	cursor : pointer;
	opacity : 0.5;
}

.submit-btn-login{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #F00;
	text-indent: -11px;
}
.submit-btn-login:hover, .submit-btn-login:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color :#F0F;
	transition: 0.25s;
}

.submit-btn-cart{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #FF8C00;
	text-indent: -6px;
}
.submit-btn-cart:hover, .submit-btn-cart:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color : #75A9FF;
	transition: 0.25s;
}

.submit-btn-product{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #0F0;
	text-indent: -11px;
}
.submit-btn-product:hover, .submit-btn-product:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color : #FF0;
	transition: 0.25s;
}

.submit-btn-logout{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #F0F;
	text-indent: -16px;
}
.submit-btn-logout:hover, .submit-btn-logout:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color : #F00;
	transition: 0.25s;
}

.submit-btn-mypage{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #0FF;
	text-indent: -16px;
}
.submit-btn-mypage:hover, .submit-btn-mypage:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color : #FF69B4;
	transition: 0.25s;
}

.submit-btn-admin{
	background: none;
	border: 2px solid;
	font: inherit;
	line-height : 1;
	width : 80px;
	height : 40px;
	margin-top : -5px;
	padding: 1em 2em;
	color: #2C7CFF;
	text-indent: -6px;
}
.submit-btn-admin:hover, .submit-btn-admin:focus{
	cursor : pointer;
	box-shadow: 0 0.8em 0.8em -0.4em;
	transform: translateY(-0.25em);
	color : #7FFFD4;
	transition: 0.25s;
}



/* ----管理者画面用ボタン---- */
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
.panel {
	max-width:960px;
	text-align:center;
	position:relative;
	margin:auto;
}
.lime button {
	color:#00FF00;
	background:transparent;
	border-width:2px;
	border-style: solid;
	border-color: #00FF00;
	position:relative;
	margin:1em;
	display:inline-block;
	padding:0.5em 1em;
	transition:all 0.3s ease-in-out;
	text-align:center;
	font-family:comfortaa;
	font-weight:bold;
}
.lime button:before, button:after {
	content:'';
	display:block;
	position:absolute;
	border-color:#00FF00;
	box-sizing:border-box;
	border-style:solid;
	width:1em;
	height:1em;
	transition:all 0.3s ease-in-out;
}
.lime button:before {
	top:-6px;
	left:-6px;
	border-width:2px 0 0 2px;
	z-index:5;
}
.lime button:after {
	bottom:-6px;
	right:-6px;
	border-width:0 2px 2px 0;
}
.lime button:hover:before, button:hover:after {
	width:calc(100% + 12px);
	height:calc(100% + 12px);
	border-color:#00FF00;
	}
.lime button:hover {
	color:#FFFFFF;
	background-color:#00FF00;
	border-color:#00FF00;
	cursor : pointer;
}


/* -------- 各ページの中身用 -------- */
#contents{
	overflow : auto;
	font-family : DQFont;
}

#ordinal{
	padding-top : 150px;
	margin-top : 50px;
	margin : 0 auto;
	width : 100%;
	height : 100%;
	padding-bottom : 535px;
	background-image : url("../images/background_ordinal_main.jpg");
	background-size : 100% 100%;
	background-attachment: fixed;
}

#admin{
	padding-top : 150px;
	margin-top : 50px;
	margin : 0 auto;
	width : 100%;
	height : 100%;
	padding-bottom : 535px;
	background-image : url("../images/adminbackgroundimage.jpg");
	background-size : 100% 100%;
	background-attachment: fixed;
}

/* -------- 各ページのボックス -------- */

#box-narrow{
	width : 700px;
	height : auto;
	background-color : rgba(0,0,0,0.7);
	color : white;
	margin : 0 auto;
	border-radius : 20px;
	padding : 10px;
}

#box-wide{
	width : 1000px;
	height : auto;
	background-color : rgba(0,0,0,0.7);
	color : white;
	margin : 0 auto;
	border-radius : 20px;
	padding : 10px;
}


/* -------- footer.jsp -------- */
#footer{
	position : fixed;
	bottom : 0;
	text-align : center;
	clear : both;
	width : 100%;
	padding : 5px;
	color : white;
	font-family : DQFont;
	font-size : 20px;
	background-color : black;
}


/* ------------ Product.jsp ------------ */
#product-list ul li {
	display : block;
	float : left;
	width : 85%;
	height : 100%;
	list-style-type : none;
	text-align : center;
}


/* 商品リスト表示 横並び */
.product-list-box {
	display : inline-block;
	float : left;
	width : 33.3%;
	height : 300px;
	text-align : center;
}


/* ページング番号 */
.pager{
	padding-top : 50px;
	text-align : center;
	font-size : 18px;
	clear : both;
}

/* 写真のサイズ  */

.item-image-box-200 {
	width : 200px;
	height : 200px;
}

/* ------------ ここまで ------------ */

/* ------------ ProductDetails.jsp ------------ */

.product-details-recomｍend-box {
	margin-top : 2%;
	clear : both;
	margin-left : 200px;
}

/* レコメンド商品 横並び */
.recommend-box{
	float : left;
	width : 33.3%;
	height : 148px;
}

/* ------------ ここまで ------------ */




/* ------------ resetPasswordComplete.jsp ------------ */
.complete{
	text-align:center;
}
/* ------------ ここまで ------------ */




/* ---- aタグレイアウト ---- */
a{
	text-decoration : underline;
}
a:link{
	color : yellow;
}
a:visited{
	color : #FF4F02;
}